.profile-container {
    padding-top: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
    gap: 1rem;
    text-align: center;
  }
  
  .avatar-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  
  .info-section {
    background-color: rgba(54, 42, 89, 0.1);
    padding: 2rem;
    border-radius: 10px;
    width: 90%;
    max-width: 400px;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: left;
  }
  
  ul li {
    margin-bottom: 0.5rem;
  }
  
  .loading, .error {
    color: var(--primary-color);
    font-size: 1.5rem;
  }
